<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/menucss.css">
<link rel="stylesheet" href="/stylesheets/gallery.css">
</head>
<body>
  <header>
    <div class="container">
      <center><img src="images\logo.JPG"  style="width:200px; height:200px;"/></center>
      <div class="centered"><h1>CARMAC</h1><h2>Smart Phone Shop</h2></div>
    </div>
  </header>
  <div class="navbar">
    <A HREF="/">Homepage</A>
    <div class="dropdown">
      <button class="dropbtn">Brands
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <div class="header">
        </div>
        <div class="row">
          <div class="column">
            <a href="/categories">All Brands</a>
            <a href="/index">All Products</a>
            <a href="/samsung">Samsung</a>
            <a href="/apple">iPhone</a>
            <a href="/haweii">Huawei</a>
            <a href="/htc">HTC</a>
            <a href="/xiaomi">Xiaomi</a>
          </div>
        </div>
      </div>
    </div>
    <A HREF="/about">About</A>
  </div>

<!-- Photo Grid -->
<div class="row">
  <div class="column">
    <a href="/samsung">
      <img src="/images/samsunglogo.png" style="width:100%">
    </a>
    <a href="/apple">
      <img src="/images/iphonelogo.png" style="width:100%">
    </a>
  </div>

  <div class="column">
    <a href="/haweii">
      <img src="/images/haweiilogo.png" style="width:100%">
    </a>
    <a href="/htc">
      <img src="/images/htclogo.png" style="width:100%">
    </a>
  </div>

  <div class="column">
    <a href="/xiaomi">
      <img src="/images/xiaomilogo.png" style="width:100%">
    </a>
    <a href="/xiaomi">
      <img src="/images/sonylogo.png" style="width:100%" style="height:100%">
    </a>
 </div>
</div>

</body>
</html>
